* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

.mt-6 {
    margin-top: 100px;
}

.btn1 {
    margin-right: 3.5px;
    padding: 5px;
    width: 20%;
    height: 20%;
    font-size: large;
    font-weight: bold;
}

.btn2 {
    margin-left: 2.5px;
padding: 5px;
height: 20%;
width: 20%;
}

div {
    width: 500px;
    margin: 0 auto;
}